@model IEnumerable<UserListDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (TempData["DeleteFailed"] != null)
{
    <br />
    <div class="alert alert-danger">
        <text>@TempData["DeleteFailed"]</text>
    </div>
    <br />
}

<table class="table">
    <thead>
        <tr>
            <th>
                Full name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phonenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessFailedCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LockoutEnabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname) @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phonenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" asp-area="Admin" class="btn" style="background-color:yellow">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>*@
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />

<p>
    <a asp-action="Create" class="btn btn-success">Create New User</a>
</p>
